{
  "singleQuote": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 120,
  "arrowParens": "always",
  "useTabs": false,
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore"
}
